<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Server=dubtestv01;Database=POSystem;User ID=sa;Password=reset*123" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Server=hibdb2008;Database=POSystem;User ID=frontrange;Password=frontrange" providerName="System.Data.SqlClient" />    
    <add name="ADConnectionString" connectionString="LDAP://DUBDCV01/DC=hiberniaatlantic,DC=local" />
  </connectionStrings>
  <appSettings>
    <add key="POSample" value="~/POSample" />
    <add key="SMTPServer" value="smtp.hiberniaatlantic.com" />
    <add key="URL" value="http://info.hiberniaatlantic.com:34104" />
    <!--<add key ="mail" value ="Derek.Bullock@hibernianetworks.com"/>-->
    <add key ="mail" value ="Basuki.Priyam@hibernianetworks.com"></add>
    
    <add key ="POSummary" value ="http://dubsqlv02/ReportServer/Pages/ReportViewer.aspx?%2fApplications%2fPOSystem%2fPOSummary&amp;rs:Command=Render"/>
    <add key ="POByMonth" value ="http://dubsqlv02/ReportServer/Pages/ReportViewer.aspx?%2fApplications%2fPOSystem%2fPOMonth&amp;rs:Command=Render"></add>
    <add key ="POBySupplier" value ="http://dubsqlv02/ReportServer/Pages/ReportViewer.aspx?%2fApplications%2fPOSystem%2fPOSupplier&amp;rs:Command=Render"></add>
    <add key ="CircuitPO" value ="http://dubsqlv02/ReportServer/Pages/ReportViewer.aspx?%2fApplications%2fPOSystem%2fPOCircuit&amp;rs:Command=Render"></add>
    <add key ="PODatewise" value ="http://dubsqlv02/ReportServer/Pages/ReportViewer.aspx?%2fApplications%2fPOSystem%2fPODateWise&amp;rs:Command=Render"></add>
    <add key ="BackOrder" value ="http://dubsqlv02/ReportServer/Pages/ReportViewer.aspx?%2fApplications%2fPOSystem%2fPOBackOrder&amp;rs:Command=Render"></add>
    <add key ="PODeptWise" value ="http://dubsqlv02/ReportServer/Pages/ReportViewer.aspx?%2fApplications%2fPOSystem%2fPODeptWise&amp;rs:Command=Render"></add>
    
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows" />-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPXAUTH" defaultUrl="Home.aspx" timeout="2880"/>
    </authentication>
    
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <identity impersonate="true"/>

    <membership defaultProvider="DomainLoginMembershipProvider">
      <providers>
        <clear/>
        <add name="DomainLoginMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" enableSearchMethods="true" connectionStringName="ADConnectionString" connectionUsername="hib-atl\devmoss2010" connectionPassword="reset*123"/>
      </providers>
    </membership>


    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <sessionState mode="InProc" cookieless="false"  timeout="480"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <location path="application.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>

    

  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CurrencyConvertorSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CurrencyConvertorSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
        binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorSoap"
        contract="CurrencyConverter.CurrencyConvertorSoap" name="CurrencyConvertorSoap" />
      <!--<endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
        binding="customBinding" bindingConfiguration="CurrencyConvertorSoap12"
        contract="CurrencyConverter.CurrencyConvertorSoap" name="CurrencyConvertorSoap12" />-->
    </client>
  </system.serviceModel>
</configuration>